extends ./layout

block content
  .jumbotron
    h1 No more leftovers.
    p.lead
      | Find or sell food waste below.

  if posts
   each post, i in posts
     .post
       h1
         a(href='/posts/show/#{post._id}')
         =post.title

       p.meta #{post.category} produced by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
       =post.body
       p
       a.more(href='/posts/show#{post._id}') Show details



