extends ./layout

block content
  .jumbotron
    h1 No more leftovers.
    p.lead
      | Find or sell food waste below.
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link(class=(title == 'Home' ? 'active' : ''), href='/') All
    li.nav-item
      a.nav-link(class=(cat == 'Vegetables' ? 'active' : ''), href='/posts/Vegetables') Vegetables
    li.nav-item
      a.nav-link(class=(cat == 'Meat' ? 'active' : ''), href='/posts/Meat') Meat        
    li.nav-item
      a.nav-link(class=(cat == 'Carbohydrates' ? 'active' : ''), href='/posts/Carbohydrates') Carbohydrates
    li.nav-item
      a.nav-link(class=(cat == 'Mixed' ? 'active' : ''), href='/posts/Mixed') Mixed
    li.nav-item
      a.nav-link(class=(cat == 'Others' ? 'active' : ''), href='/posts/Others') Others
  p

  if posts
   each post, i in posts
     .post
       h2 #{post.title}
       span(class='right') $USD #{post.price}

       p.meta #{post.category} produced by #{post.author} on #{moment(post.date).format("MM-DD-YYYY")}
       =post.body
       p

       .button-right
         a.more(href='/posts/show#{post._id}') Show details



